<div class="container p-3 my-3 bg-primary text-white">
  
  <div class="row mb-5">
 <div class="col-1">
  <button class="btn btn-dark" type="submit">Search</button>
 </div>
 <div class="col-11">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

  </div>



  <div class="row">

    <div class="col">
Area:
<select name="cars" class="custom-select-sm">
  <option selected>Small Custom Select Menu</option>
  <option value="volvo">Volvo</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>
    </div>
    <div class="col">
Current :
<select name="cars" class="custom-select-sm">
  <option selected>Small Custom Select Menu</option>
  <option value="volvo">Volvo</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>
    </div>
    <div class="col">
state:
<select name="cars" class="custom-select-sm">
  <option selected>Small Custom Select Menu</option>
  <option value="volvo">Volvo</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>
    </div>

  </div>



</div>